from setuptools import setup, find_packages

setup(
    name="{{ package_name }}",
    version="{{ version }}",
    description="Python Ontology SDK for Data Driven Project",
    author="Data Driven Project Team",
    author_email="contact@datadrivenproject.com",
    packages=find_packages(),
    include_package_data=True,
    install_requires=[
        "requests>=2.28.0",
    ],
    classifiers=[
        "Programming Language :: Python :: 3",
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent",
    ],
    python_requires='>=3.7',
)
